body {
  .shiki {
    > code {
      > .line {
        display: inline-block;

        &.highlighted {
          width: calc(100% + 3.2rem);
          margin: 0 -1.6rem;
          padding: 0 1.6rem;
        }

        .highlighted-word {
          font-weight: bold;
          border-radius: 0.4rem;
          padding: 0 0.4rem;
        }
      }
    }

    &.has-focused {
      > code {
        > .line:not(.focused) {
          opacity: 0.8;
          filter: blur(0.125rem);
        }
      }
    }
  }

  &.light {
    .shiki {
      background-color: var(--shiki-light-bg) !important;
      color: var(--shiki-light) !important;

      > code {
        background-color: var(--shiki-light-bg) !important;

        > .line {
          &.highlighted,
          .highlighted-word {
            background-color: color-mix(
              in srgb,
              var(--shiki-light-bg) 90%,
              black
            );
          }
        }
      }

      & span {
        color: var(--shiki-light) !important;
      }
    }
  }

  &.dark {
    .shiki {
      background-color: var(--shiki-dark-bg) !important;
      color: var(--shiki-dark) !important;

      > code {
        background-color: var(--shiki-dark-bg) !important;

        > .line {
          &.highlighted,
          .highlighted-word {
            background-color: color-mix(
              in srgb,
              var(--shiki-dark-bg) 90%,
              white
            ) !important;
          }
        }
      }

      & span {
        color: var(--shiki-dark) !important;
      }
    }
  }
}
